@import '~bootstrap/scss/bootstrap';
#signUpForm{
  text-align: center;
}
#signInForm{
  text-align: center;
}
#startForm{
  text-align: center;
}
h1{
  text-align: center;
}
h3{
  text-align: center;
}
